// 変数を定義する

// フォント
$font-family: poppins,sans-serif;

// カラー指定
$color-main: #FFFFFF;
$color-title: #333333;
$color-text: #2B2B2B;
$color-accent--bg: #EDEDED;
$color-accent--border: #A0A0A0;

// コンテンツのmax-width
$contents--max-width: 960px;

// ブレイクポイント
$breakpoints:(
    'xs': 'screen and (min-width: 0)',
    'sm': 'screen and (min-width: 576px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 992px)',
    'xl': 'screen and (min-width: 1200px)'
) !default;

